WebLogisticaUtiles/LCSA.SGI.WebLogisticaUtiles.Entity/Service References/casaCambioWs/CasaCambioWs.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://casacambio.upc.edu/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="CasaCambioWs" targetNamespace="http://casacambio.upc.edu/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8090/CasaCambioWs/CasaCambioWs?xsd=1" namespace="http://casacambio.upc.edu/" />
    </xsd:schema>
  </types>
  <message name="hello">
    <part name="parameters" element="tns:hello" />
  </message>
  <message name="helloResponse">
    <part name="parameters" element="tns:helloResponse" />
  </message>
  <message name="cambiarDolaresaSoles">
    <part name="parameters" element="tns:cambiarDolaresaSoles" />
  </message>
  <message name="cambiarDolaresaSolesResponse">
    <part name="parameters" element="tns:cambiarDolaresaSolesResponse" />
  </message>
  <message name="cambiarSolesaDolares">
    <part name="parameters" element="tns:cambiarSolesaDolares" />
  </message>
  <message name="cambiarSolesaDolaresResponse">
    <part name="parameters" element="tns:cambiarSolesaDolaresResponse" />
  </message>
  <portType name="CasaCambioWs">
    <operation name="hello">
      <input wsam:Action="http://casacambio.upc.edu/CasaCambioWs/helloRequest" message="tns:hello" />
      <output wsam:Action="http://casacambio.upc.edu/CasaCambioWs/helloResponse" message="tns:helloResponse" />
    </operation>
    <operation name="cambiarDolaresaSoles">
      <input wsam:Action="http://casacambio.upc.edu/CasaCambioWs/cambiarDolaresaSolesRequest" message="tns:cambiarDolaresaSoles" />
      <output wsam:Action="http://casacambio.upc.edu/CasaCambioWs/cambiarDolaresaSolesResponse" message="tns:cambiarDolaresaSolesResponse" />
    </operation>
    <operation name="cambiarSolesaDolares">
      <input wsam:Action="http://casacambio.upc.edu/CasaCambioWs/cambiarSolesaDolaresRequest" message="tns:cambiarSolesaDolares" />
      <output wsam:Action="http://casacambio.upc.edu/CasaCambioWs/cambiarSolesaDolaresResponse" message="tns:cambiarSolesaDolaresResponse" />
    </operation>
  </portType>
  <binding name="CasaCambioWsPortBinding" type="tns:CasaCambioWs">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="hello">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="cambiarDolaresaSoles">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="cambiarSolesaDolares">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CasaCambioWs">
    <port name="CasaCambioWsPort" binding="tns:CasaCambioWsPortBinding">
      <soap:address location="http://localhost:8090/CasaCambioWs/CasaCambioWs" />
    </port>
  </service>
</definitions>